.reviews_list_con {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.review_info_con {
    border: 1px solid gainsboro;
    padding: 8px;
    border-radius: 7px;
    margin-bottom: 15px;

}

.review_hed_con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
}

.review_hed_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratting_hed {
    margin-top: 14px;
    margin-right: 10px;
}

.ratting_hed1 {
    margin-top: 14px;
    margin-left: 10px;
}

@media only screen and (max-width: 687px) {
    .review_hed_con {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .review_hed_left {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .review_text {
        text-align: justify;
        padding: 2px;
    }
}