.nav-items {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28332, 46, 53, 0.75%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;

}

.navbar-light .navbar-toggler {
    border: 1px solid white;
}

#nav-item {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 25px;
}

#nav-item:hover {
    color: hsl(332, 46%, 53%);
}

.new-item-color {
    color: #7D405C;
}

.button {
    text-decoration: none;
    background-color: #be5184;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 11px 12px;
    border-radius: 2px;
}

.navbar-end-con {
    /* border: 1px solid brown; */
    display: flex;
    align-items: center;
    width: 620px;

}

#make-project-btn {
    color: white;
}

.button:hover {
    background-color: #7D405C;
}

.nav-useer {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 20px;
}

.nav-user-icon {
    font-size: 1.5rem;
    margin-right: 8px;
}

.nav-login-register {
    line-height: 0%;

}

.nav-login-register p {
    color: #be5184;
    font-size: 1rem;
}

.nav-login {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.favarite-icon {
    font-size: 1.5rem;
    color: white;
}

.nav-cart-con {
    margin-left: 20px;
    color: white;
    /* border: 1px solid white; */
    /* padding: 8.5px; */
    border-radius: 5px;
    /* background-color: #be5184; */

}

.nav-cart-icon {
    font-size: 1.5rem;
    color: white;
    /* position: relative; */
}

.cartproduct-q {
    border: 1px solid #be5184;
    background-color: #be5184;
    padding: 2px;
    border-radius: 50%;
    /* position: absolute; */
    /* top: 2px; */
}