#customiz_order_rate {
    background-color: #C6A969;
}

#customiz_order_rate1 {
    background-color: #4F6F52;
}

#customiz_order_rate3 {
    background-color: #29ADB2;
}

#customiz_order_rate_last {
    background-color: #CE5A67;
}