.no-of-day {
    text-align: center;
    /* border: 1px solid brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
}

.leave_manage_hed {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}