.no-of-day {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
}

.leave_manage_hed {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width:688px) {
    .leave_manage_hed {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .order-reset-btn {
        width: 100%;
    }

    #add-staff-btn {
        width: 100%;
        margin-top: 10px;
    }
}