.cart-order-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 8px;
    padding-right: 8px;
}

.cart-order-product img {
    width: 100px;
    height: 100px;
}

.cart-total-cost {
    width: 100%;
    text-align: right;
    margin: 20px 0px;
}

.total-cart-tk {
    color: rgb(119, 39, 119);
}