.premium-login-container {
    width: 100%;
    display: flex;
    margin-left: 10%;
}

#premium-login {
    width: 30%;
}

.prmium-login-info {
    width: 25%;
    border-radius: 8px 0px 0px 8px;
    color: white;
    padding: 10px;
}

.premium-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.premium-info-hed {
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
}

.please-premium-login {
    color: #be5184;
}

.go-contact-btn {
    text-decoration: none;
    border: 1px solid #be5184;
    background-color: #be5184;
    width: 100%;
    padding: 8px;
    color: white;
    margin-top: 25px;
    border-radius: 4px;
}

.prmium-login-info img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media only screen and (max-width: 687px) {
    .employss-login-con {
        height: auto;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 25px;
    }

    .premium-login-container {
        width: 95%;
    }

    .premium-login-container {
        display: flex;
        flex-direction: column;
    }

    .prmium-login-info {
        width: 100%;
        margin: 0px;
        border-radius: 8px 8px 0px 0px;
    }

    #premium-login {
        width: 100%;
        margin: 0px;
    }
}