.img-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-name img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid gainsboro;

}

.img-name h6 {
    margin-left: 8px;
    width: 150px;
}

.attendance-star {
    color: gold;
    font-size: 1.2rem;
}

.attendance_half {
    color: green;
    font-size: 1.3rem;
}

.attendance-cros {
    border: 1px solid brown;
    font-size: 1.2rem;
    padding: 2px;
    color: brown;
    border-radius: 100%;
    text-align: center;

}

.attendance-present {
    border: 1px solid green;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2px;
    color: green;
    border-radius: 100%;
    text-align: center;
}



.employy-name input {
    width: 100%;
}

@media only screen and (max-width:688px) {

    .order-status-limit {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #date_mobile {
        width: 100%;
        margin-bottom: 10px;
    }

    .employy-name {
        width: 100%;
        margin-bottom: 10px;
    }

    #order-reset-btn {
        width: 100%;
    }
}