.contact-from-con {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 70px;
}

.from-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 687px) {
    .contact-from-con {
        width: 85%;
    }
}