.contact-media-con {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 50px;
}

.phone-con {
    display: flex;
}

.media-icon {
    font-size: 2.5rem;
    color: #be5184;
    margin-right: 10px;
}

.phone-right h5 {
    font-weight: 600;
    font-size: 1.5rem;
}

.phone-right p {
    color: rgb(88, 88, 88);
    font-size: 1.1rem;
    font-weight: 500;
}