.attendance-con {
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employeeid {
    width: 100%;
}

.cammera-con {
    width: 100%;
    height: 300px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    padding: 4px;
}

.attendance-btn {
    width: 100%;
}

@media only screen and (max-width:688px) {
    .attendance-con {
        width: 95%;
    }
}