.shopmain-product-con {
    width: 95%;
    margin: 0 auto;
}

.droupdrown {
    border: 1px solid rgb(131, 130, 130);
    padding: 6px;
}

.droupdrown:hover {
    background-color: white;
}

.main-product-fil-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.search-by-item {
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-by-item input {
    height: 100%;
    padding: 0px 4px;
    width: 85%;
    border-bottom: 2px solid rgb(65, 64, 64);
    outline: none;
}

.search-by-item input:hover {
    border-bottom: 2px solid #be5184;
}


.search-by-item button {
    border: 2px solid rgb(84, 82, 82);
    border-left: none;
    border-top: none;
    border-right: none;
    height: 100%;
    padding: 0px 6px;
    width: 15%;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-by-item button:hover {
    background-color: #be5184;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.product-num {
    color: #be5184;
    font-weight: 500;
}

.main-product-fil-con p {
    font-size: 1rem;
    color: rgb(90, 89, 89);
}

.data-price-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-price-filter select {
    margin-right: 15px;
}

.interasted-product-con {
    margin-bottom: 40px;
}

#interastedproduct {
    margin: 6px;
    border: 1px solid rgb(233, 233, 233);
}

@media only screen and (max-width: 687px) {
    .main-product-fil-con p {
        display: none;
    }

    .main-product-fil-con {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .search-by-item {
        width: 90%;
        margin-bottom: 20px;
    }

    .data-price-filter {
        width: 100%;
    }

    #mobile_design {
        display: flex;
        flex-direction: column-reverse;
    }

    .new-product-con {
        display: none;
    }

    .offer-con {
        display: none;
    }
}