#category-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#category-search input {
    width: 100%;
}

#category-search-form {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#category-search-form input {
    width: 70%;
}

#category-filt-btn1 {
    width: 25%;
    padding-top: 12px;
    padding-bottom: 12px;
}

#category-filt-btn {
    width: 20%;
    padding-top: 12px;
    padding-bottom: 12px;
}

#category-delete-btn:hover {
    cursor: pointer;
    color: #9e3566;
    font-size: 1.6rem;
}

@media only screen and (max-width:688px) {
    #category-search-form {
        width: 100%;
    }

    .category_mobile {
        width: 180px;
    }

    .searchproduct {
        width: 100%;
    }

    .product-reset {
        width: 100%;

    }

    #category-filt-btn {
        width: 100%;
    }
}