.checkout-container-hole {
    background-color: aliceblue;
    padding-top: 100px;
    padding-bottom: 100px;

}

.checkoutlogin {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.checkoutlogin p {
    color: gray;
    font-weight: 500;
}

.login-link-c {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.checkout-info-con {
    width: 80%;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.checkout-info-con-left {
    background-color: white;
    margin-left: 15px;
    margin-right: 70px;
    padding: 20px;
}

.biling-text {
    margin-bottom: 20px;
}

.first-name-last-name {
    display: flex;
}

.first-name-last-name input {
    border: 1px solid gainsboro;
    padding: 8px;
    width: 48%;
}

.company-input {
    width: 100%;
    padding: 8px;
    border: 1px solid gainsboro;
    margin-top: 16px;

}

.country-selected {
    width: 100%;
    border: 1px solid gainsboro;
    padding: 8px;
    margin-top: 16px;
}

.note-input {
    width: 100%;
    height: 150px;
    border: 1px solid gainsboro;
    padding: 8px;
    margin-top: 16px;
}

.checkout-info-right {
    background-color: white;
    padding: 20px;
    padding-top: 40px;
}

.checkout-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}

.checkout-product-info {
    display: flex;

}

.checkout-product-info img {
    width: 70px;
    margin-right: 8px;
}

.checkout-price {
    font-weight: 500;
}

.checkout-subtotla {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    /* margin-bottom: 30px; */
}

.discount-amount {
    margin-bottom: 20px;
}

.checkout-shipping {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
}

.checkout-totla {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.place-order-btn {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: black;
    color: white;
    margin-top: 20px;
}

.place-order-btn:hover {
    background-color: white;
    color: black;
    margin-top: 2px;
}

.checkout-personal {
    text-align: justify;
    font-size: 12px;
    color: gray;
    font-weight: 400;
}

.whole-sale-discount {
    color: #be5184;
    font-weight: 500;
}

@media only screen and (max-width: 687px) {
    .checkoutlogin {
        width: 95%;
    }

    .checkout-info-con {
        width: 90%;
    }

    /* .checkout-inforow-col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    } */

    .checkout-info-con-left {
        margin: 0px;
    }
}