.manage-email {
    color: blue;
}

.account-link-con {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.left-link-con {
    width: 100%;
}

.manage-left-link {
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}