.fauser {
    border: 1px solid blue;
    padding: 3px;
    font-size: 2rem;
    border-radius: 100%;
    margin-right: 6px;
    margin-bottom: 10px;
    color: brown;
}

.fauser-con {
    text-align: center;
    /* border: 1px solid gold; */
    /* height: 40px; */
    /* height: auto; */
}

.dashbord_customer_hed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.dashbord_customer_hed button {
    border: 1px solid #86A7FC;
    background-color: #86A7FC;
    color: white;
    font-weight: 500;
    padding: 6px 18px;
    border-radius: 4px;
}

#make-normal-btn {
    background-color: #D63484;
    border: 1px solid #D63484;
}