.employee-info-con-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.employee-img-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.employee-img-name img {
    margin-right: 10px;
    border-radius: 10px;
}



.employee-img-name img {
    width: 60px;
    height: 60px;
}

.employee-working-time-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.employee-time-chart {
    text-align: center;
}

.employee-time-chart h3 {
    color: green;
}

.employee-time-chart p {
    color: rgb(86, 85, 85);
}

.printlogo:hover {
    color: #be5184;
    cursor: pointer;
}

.employee-attendance-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media only screen and (max-width:688px) {
    .employee-attendance-search {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .name-search {
        width: 100%;
        margin-top: 10px;
    }

    .name-input-staff {
        width: 100%;
    }

    .employee-info-con-admin {
        display: flex;
        flex-wrap: wrap;

    }

    .employee-img-name {
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }

    .emplouee_attendance_mobile {
        margin: 0px;
        margin-bottom: 10px;
    }

    .employee-working-time-con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .employee-time-chart {
        width: 44%;

        height: 120px;
    }
}