.shop-details-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cart-modal {
    display: none;
    position: fixed;
    top: 120px;
    right: 10px;
    border: 1px solid black;
    width: 399px;
    z-index: 2;
    background-color: wheat;
}

.shop-details-left {
    display: flex;
}

.shop-left-left {
    width: 20%;
}

.daisplay-image-1 {
    margin-bottom: 10px;
    border: 1px solid gainsboro;
}

.shop-left-right {
    width: 100%;
    height: 100%;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid gainsboro;
}

.zoom-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}


.review-stars {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.review-stars p {
    font-size: 1rem;
    color: rgb(63, 62, 62);
    font-weight: 500;
}

.review-star {
    font-size: 1.2rem;
    color: gray;
    margin-right: 4px;
    margin-bottom: 10px;
}

.taka-stock-brand {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin-bottom: 15px;
}

.product-stock {
    border-left: 1px solid gainsboro;
    padding-left: 60px;
}

.product-stock h6 {
    display: flex;
    align-items: center;
}

.product-stock span {
    color: green;
    margin-left: 3px;
}

.product-stock p {
    display: flex;
    align-items: center;
}

.stock-icon {
    margin-right: 8px;
    color: #be5184;
    font-size: 1.1rem;
}

.brand-logo p {
    text-align: center;
    color: #be5184;
}

.brand-logo img {

    width: 120px;
    color: brown;
}

.select-size-con {
    margin-top: 20px;
}

.select-size-con p {
    color: gray;
    font-size: 1rem;
    font-weight: 500;
}

.size_btn {
    border: 1px solid gray;
    padding: 5px 8px;
    margin-right: 6px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.select_size-btn {
    border: 2px solid #be5184;
    padding: 5px 8px;
    margin-right: 6px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.number-cart-buy {
    display: flex;
    margin-bottom: 20px;
}

.number-input {
    border: 1px solid gainsboro;
    width: 20%;
    /* padding: 10px; */
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-input input {
    border: 0px solid white;
    width: 50%;
    text-align: center;
}



.number-input button {
    /* border: 1px solid black; */
    width: 40%;
    height: 100%;
}

.number-input span {
    font-size: 1.1rem;
    font-weight: 500;
}

.add-button-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(44, 44, 75);
    background-color: rgb(44, 44, 78);
    color: white;
    font-weight: 500;
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    transition: all 1s;
}

.cart-add-icon {
    margin-right: 20px;
    font-size: 1.5rem;
}

.add-button-cart:hover {
    background-color: white;
    color: black;

}

.buy-button-now {
    text-decoration: none;
    width: 20%;
    padding: 10px;
    border: 1px solid rgb(44, 44, 75);
    background-color: rgb(44, 44, 78);
    color: white;
    font-weight: 500;
    transition: all 1s;
}

.buy-button-now:hover {
    background-color: white;
    color: black;
}

.wishlist-compare {
    display: flex;
    justify-content: space-between;
}

.add-wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #be5184;
    background-color: #be5184;
    color: white;
    font-weight: 500;
    width: 49%;
    padding: 10px;
    transition: all 1s;
}

.love-icon {
    margin-right: 15px;
    font-size: 1.5rem;

}

.add-compare {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #be5184;
    background-color: #be5184;
    color: white;
    font-weight: 500;
    width: 49%;
    padding: 10px;
    transition: all 1s;
}

.product-compare-icon {
    font-size: 1.5rem;
    margin-right: 15px;
}

.add-wishlist:hover {
    background-color: white;
    color: #be5184;
}

.add-compare:hover {
    background-color: white;
    color: #be5184;
}


/* toast design */
.toast-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toast-top img {
    width: 80px;
    margin-right: 10px;
}

.toast-message h6 {
    color: #be5184;
}

.toast-message span {
    color: green;
    font-weight: 500;
}

#toast-name {
    color: #be5184;
}

.toast-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toast-cart-btn {
    text-decoration: none;
    width: 48%;
    border: 1px solid rgb(32, 32, 65);
    background-color: rgb(39, 39, 70);
    font-size: 1rem;
    color: white;
    padding: 10px;
}

.toast-cart-btn1 {
    text-decoration: none;
    width: 48%;
    border: 1px solid #be5184;
    background-color: #be5184;
    font-size: 1rem;
    color: white;
    padding: 10px;
}

@media only screen and (max-width: 687px) {
    .details_product_name {
        font-size: 1.1rem;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .review-stars {
        margin-top: 8px;
    }

    .product-stock {
        width: 60%;
        padding-left: 4px;
    }

    .brand-logo {
        text-decoration: none;
        display: none;
    }



    .number-cart-buy {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .number-input {
        width: 100%;
        height: 60px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .add-button-cart {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .buy-button-now {
        width: 100%;
        text-align: center;
    }

    .wishlist-compare {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .add-wishlist {
        width: 100%;
        margin-bottom: 10px;
    }

    .add-compare {
        width: 100%;
    }
}