.questions-con {
    padding: 100px;
    color: white;

}

.question-top {
    display: flex;
    justify-content: space-between;

}

.question-top-left {
    width: 48%;
}

.question-top-right {
    width: 48%;
}

.questionss {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.questionss-left {
    width: 48%;
    border: 1px solid brown;
    color: white;
}

.accordion0 {
    margin-bottom: 50px;

}

.questionss-right {
    width: 48%;
}