.employee_reset_btn {
    border: 1px solid #86A7FC;
    background-color: #86A7FC;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 500;
    margin-right: 10px;
}

@media only screen and (max-width:688px) {
    .check_in_mobile {
        width: 120px;
    }

    .employee-attendance-search {
        width: 95%;
        margin: 0 auto;
    }

    .employee_reset_btn {
        width: 100%;
        margin-top: 10px;
    }
}