.order-quenty-con {
    width: 100%;
    background-color: white;
    padding: 8px 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-con {
    /* border: 1px solid gainsboro; */

}

.search-con input {
    padding: 6px 8px;
    border: 1px solid gainsboro;
}

.search-con button {
    background-color: #be5184;
    border: 1px solid #be5184;
    padding: 6px 8px;
    font-size: 1rem;
    color: white;
    font-weight: 500;

}

.search-con button:hover {
    border: 1px solid #75294c;
    background-color: #75294c;
}

.select1 {
    border: 1px solid gray;
    padding: 6px 6px;
    width: 200px;
}

.shop-order-manage {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.shop-order-manage-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
}

.shop-order-product-manage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.shop-order-manage img {
    width: 90px;
    height: 90px;
}


.pagination-con {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

#paginationbtn {
    border: 1px solid gray;
    padding: 4px 10px;
    margin: 4px;
}

.selected-page-btn {
    border: 1px solid gray;
    background-color: #be5184;
}