.wishlist-product-con {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 10px;
}

.wishlist-left {
    padding: 10px 15px;
    background-color: aliceblue;

}

.wishlist-right {
    padding-left: 50px;
}

.wishlisst-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: white;
    padding: 6px 6px;
}

.wishlisst-product img {
    width: 85px;
    height: 85px;
}

.wishlist-product {
    width: 30%;
}

.stock {
    color: green;
}

.wish-add-bag {
    border: 1px solid gainsboro;
    padding: 10px;
    background-color: rgb(37, 37, 65);
    color: white;
    transition: all 2ms;
}

.wish-delet {
    border: 1px solid gainsboro;
    padding: 10px;
    background-color: #be5184;
    color: white;
}

.wish-add-bag:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.wish-delet:hover {
    background-color: #752c4e;
}

@media only screen and (max-width: 687px) {
    .wishlisst-product img {
        width: 50px;
        height: 50px;
    }

    .stock {
        display: none;
    }

    .wishlist-product {
        width: 28%;
    }
}