.order-confirm-con {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.discount-text {
    color: green;
}

.discount-amount {
    color: #be5184
}

.order-confirm-top {
    width: 100;
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1rem;
    color: gray;
    font-weight: 500;
}

.order-confirm-hed {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.confirm-left {
    color: gray;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}

.info-table {
    width: 90%;
    border: 1px solid brown;
}

.info-table tr th {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

}

.info-table tr th {
    color: rgb(85, 84, 84);
}

.info-table tr td {
    font-size: 0.9rem;
    color: gray;
    font-weight: 500;
}

.info-table tr {
    border: 1px solid gainsboro;
}

.order-image {
    width: 110px;
}

.dress-size-con {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.dress-sizes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.size {
    border: 1px solid rgb(232, 230, 230);
    border-radius: 4px;
    padding: 6px;
    text-align: center;
    width: 18%;
    line-height: 0.9rem;

}

.dress-size-quen {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.size h6 {
    color: gray;
    font-size: 1rem;
    font-weight: 500;
}

.size p {
    color: gray;
    font-size: 0.9rem;
    line-height: 1rem;
}

.size-input {
    border: 1px solid gainsboro;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
    width: 100%;
    background-color: aliceblue;
}

.address-input-con {
    border: 1px solid gainsboro;
    margin-top: 30px;
    padding: 10px;
    border-radius: 8px;
    border-bottom: 1px solid gainsboro;
    width: 100%;
}

.address-input-lavel {
    width: 100%;
    background-color: aliceblue;
    padding: 8px 6px;
    border-radius: 7px;
    color: gray;
    font-size: 1.1rem;
    font-weight: 500;

}

.confirm-btn {
    border: 1px solid #be5184;
    background-color: #be5184;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    padding: 8px;
    color: white;
    font-weight: 500;
    margin-top: 30px;
}

.size_submit {
    background-color: #3887BE;
    border: 1px solid #3887BE;
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 4px;
    color: white;
}

.dress_size_con_hed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.dress_size_con_hed button {
    border: 1px solid #86A7FC;
    background-color: #86A7FC;
    padding: 4px 10px;
    border-radius: 4px;
}

@media only screen and (max-width: 687px) {
    .order-confirm-con {
        width: 95%;
    }

    .order-info-con {
        width: 90%;
        overflow: auto;
        max-height: 300px;
        margin: 0 auto;
    }

    .info-table {
        overflow: auto;
        max-height: 300px;

    }

    .dress-sizes {
        display: flex;
        flex-wrap: wrap;
    }

    .size {
        border: 1px solid rgb(232, 230, 230);
        border-radius: 4px;
        padding: 6px;
        text-align: center;
        width: 45%;
        line-height: 0.9rem;

    }

    .dress-size-quen {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .dress-size-quen p {
        width: 30%;
        margin-bottom: 10px;
    }

    #confirm_mobile {
        display: none;
    }
}