.about-banner-con {
    height: 400px;
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(54, 50, 73, 0.699), rgba(77, 74, 92, 0.699)), url(../../../Images/lastbanner.webp);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;


}

.banner-link {
    display: flex;
    color: white;

}

.first-link {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.secound-link {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.first-link:hover {
    color: #be5184;
    transition: all 1s;
    cursor: pointer;
}

.secound-link:hover {
    color: #be5184;
    transition: all 1s;
    cursor: pointer;
}